.card {
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 10px;
  margin: 2rem auto;
  padding: 1rem;
}
@media (min-width: 701px) {
  .card {
    width: 640px;
  }
}
@media (max-width: 700px) {
  .card {
    width: 400px;
  }
}
@media (max-width: 405px) {
  .card {
    width: 95%;
  }
}
